interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,'azure-cli-test000001')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001642"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "azure-cli-test000001", "identifierUris": ["api://azure-cli-test000001"],
      "isFallbackPublicClient": true, "signInAudience": "AzureADMultipleOrgs", "keyCredentials":
      [], "web": {"homePageUrl": "https://myapp.com/", "redirectUris": ["http://localhost/webtest1",
      "http://localhost/webtest2"], "implicitGrantSettings": {"enableIdTokenIssuance":
      true, "enableAccessTokenIssuance": true}}, "publicClient": {"redirectUris":
      ["http://localhost/publicclienttest1", "http://localhost/publicclienttest2"]},
      "appRoles": [{"allowedMemberTypes": ["User"], "displayName": "Writer", "id":
      "d1c2ade8-0000-0000-0000-6d06b947c66f", "isEnabled": true, "description": "Writers
      Have the ability to create tasks.", "value": "Writer"}, {"allowedMemberTypes":
      ["Application"], "displayName": "ConsumerApps", "id": "47fbb575-0000-0000-0000-0f7a6c30beac",
      "isEnabled": true, "description": "Consumer apps have access to the consumer
      data.", "value": "Consumer"}], "optionalClaims": {"idToken": [{"name": "auth_time",
      "essential": false}], "accessToken": [{"name": "ipaddr", "essential": false}],
      "saml2Token": [{"name": "upn", "essential": false}, {"name": "extension_ab603c56068041afb2f6832e2a17e237_skypeId",
      "source": "user", "essential": false}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "b74abed2-2c75-44d2-b584-f06e8b517e60", "deletedDateTime": null, "appId":
        "dff18015-9784-4751-b211-ac099d200b67", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2022-02-24T06:28:22.8922628Z", "displayName": "azure-cli-test000001",
        "description": null, "groupMembershipClaims": null, "identifierUris": ["api://azure-cli-test000001"],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": true, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADMultipleOrgs", "tags": [], "tokenEncryptionKeyId":
        null, "defaultRedirectUri": null, "certification": null, "addIns": [], "api":
        {"acceptMappedClaims": null, "knownClientApplications": [], "requestedAccessTokenVersion":
        null, "oauth2PermissionScopes": [], "preAuthorizedApplications": []}, "appRoles":
        [{"allowedMemberTypes": ["User"], "description": "Writers Have the ability
        to create tasks.", "displayName": "Writer", "id": "d1c2ade8-0000-0000-0000-6d06b947c66f",
        "isEnabled": true, "origin": "Application", "value": "Writer"}, {"allowedMemberTypes":
        ["Application"], "description": "Consumer apps have access to the consumer
        data.", "displayName": "ConsumerApps", "id": "47fbb575-0000-0000-0000-0f7a6c30beac",
        "isEnabled": true, "origin": "Application", "value": "Consumer"}], "info":
        {"logoUrl": null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl":
        null, "termsOfServiceUrl": null}, "keyCredentials": [], "optionalClaims":
        {"accessToken": [{"additionalProperties": [], "essential": false, "name":
        "ipaddr", "source": null}], "idToken": [{"additionalProperties": [], "essential":
        false, "name": "auth_time", "source": null}], "saml2Token": [{"additionalProperties":
        [], "essential": false, "name": "upn", "source": null}, {"additionalProperties":
        [], "essential": false, "name": "extension_ab603c56068041afb2f6832e2a17e237_skypeId",
        "source": "user"}]}, "parentalControlSettings": {"countriesBlockedForMinors":
        [], "legalAgeGroupRule": "Allow"}, "passwordCredentials": [], "publicClient":
        {"redirectUris": ["http://localhost/publicclienttest1", "http://localhost/publicclienttest2"]},
        "requiredResourceAccess": [], "verifiedPublisher": {"displayName": null, "verifiedPublisherId":
        null, "addedDateTime": null}, "web": {"homePageUrl": "https://myapp.com/",
        "logoutUrl": null, "redirectUris": ["http://localhost/webtest1", "http://localhost/webtest2"],
        "implicitGrantSettings": {"enableAccessTokenIssuance": true, "enableIdTokenIssuance":
        true}}, "spa": {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/b74abed2-2c75-44d2-b584-f06e8b517e60/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001642"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=identifierUris/any(s:s%20eq%20'dff18015-9784-4751-b211-ac099d200b67')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000018C7"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'dff18015-9784-4751-b211-ac099d200b67'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"b74abed2-2c75-44d2-b584-f06e8b517e60","deletedDateTime":null,"appId":"dff18015-9784-4751-b211-ac099d200b67","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2022-02-24T0[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/b74abed2-2c75-44d2-b584-f06e8b517e60
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCE"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/dff18015-9784-4751-b211-ac099d200b67
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''dff18015-9784-4751-b211-ac099d200b67''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-02-24T06:28:29","request-id":"bc4a7dc8-55c9-4dd7-80b7-d6abb2907065","client-request-id":"bc4a7dc8-55c9-4dd7-80b7-d6abb2907065"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCC"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"displayName": "azure-cli-test000002", "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "97f1672c-eaf9-4f34-992b-ebfc898adbaa", "deletedDateTime": null, "appId":
        "854902e5-ee7f-458d-9b5f-63545aecc161", "applicationTemplateId": n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/854902e5-ee7f-458d-9b5f-63545aecc161
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''854902e5-ee7f-458d-9b5f-63545aecc161''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-02-24T06:28:49","request-id":"bf53b7ed-3ba2-4bc2-90ee-1be1ef36b6f2","client-request-id":"bf53b7ed-3ba2-4bc2-90ee-1be1ef36b6f2"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000018C8"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
version: 1
