interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/rolelivetest@azuresdkteam.onmicrosoft.com
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"rolelivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"example@example.com","id":"6d97229a-391f-473a-893f-f0608b592d7b"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BC4"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,'azure-cli-test000001')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BC4"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "azure-cli-test000001", "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "4170862c-3ad2-41a1-93c3-9dde95beb1f1", "deletedDateTime": null, "appId":
        "da913587-fc0e-4c6b-a5d9-3fb9ec13b0fb", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2022-04-26T13:32:41.4280426Z", "displayName": "azure-cli-test000001",
        "description": null, "groupMembershipClaims": null, "identifierUris": [],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADandPersonalMicrosoftAccount", "tags": [],
        "tokenEncryptionKeyId": null, "defaultRedirectUri": null, "certification":
        null, "optionalClaims": null, "addIns": [], "api": {"acceptMappedClaims":
        null, "knownClientApplications": [], "requestedAccessTokenVersion": 2, "oauth2PermissionScopes":
        [], "preAuthorizedApplications": []}, "appRoles": [], "info": {"logoUrl":
        null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl": null,
        "termsOfServiceUrl": null}, "keyCredentials": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": {"redirectUris": []}, "requiredResourceAccess": [], "verifiedPublisher":
        {"displayName": null, "verifiedPublisherId": null, "addedDateTime": null},
        "web": {"homePageUrl": null, "logoutUrl": null, "redirectUris": [], "implicitGrantSettings":
        {"enableAccessTokenIssuance": false, "enableIdTokenIssuance": false}}, "spa":
        {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/4170862c-3ad2-41a1-93c3-9dde95beb1f1/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCF"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'da913587-fc0e-4c6b-a5d9-3fb9ec13b0fb'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"4170862c-3ad2-41a1-93c3-9dde95beb1f1","deletedDateTime":null,"appId":"da913587-fc0e-4c6b-a5d9-3fb9ec13b0fb","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2022-04-26T1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/4170862c-3ad2-41a1-93c3-9dde95beb1f1/owners
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"6d97229a-391f-473a-893f-f0608b592d7b","businessPhones":[],"displayName":"rolelivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"example@example.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001643"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/4170862c-3ad2-41a1-93c3-9dde95beb1f1/owners/6d97229a-391f-473a-893f-f0608b592d7b/$ref
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000022D9"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/4170862c-3ad2-41a1-93c3-9dde95beb1f1
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications/$entity","id":"4170862c-3ad2-41a1-93c3-9dde95beb1f1","deletedDateTime":null,"appId":"da913587-fc0e-4c6b-a5d9-3fb9ec13b0fb","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2022-04-26T13:32:41Z","displayName":"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/directory/deletedItems/4170862c-3ad2-41a1-93c3-9dde95beb1f1
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001E1F"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
