interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,'azure-cli-test000001')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF00002015"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "azure-cli-test000001", "identifierUris": ["api://azure-cli-test000001"],
      "isFallbackPublicClient": true, "signInAudience": "AzureADMultipleOrgs", "keyCredentials":
      [{"@odata.type": "#microsoft.graph.keyCredential", "displayName": null, "endDateTime":
      "2023-04-26T12:41:37Z", "key": "MIIDazCCAlOgAwIBAgIUIp5vybhHfKN+ZKL28AntYKhlKXkwDQYJKoZIhvcNAQELBQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMDA3MjIwNzE3NDdaFw00NzEyMDgwNzE3NDdaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDMa00H+/p4RP4Eo//1J81Wowo4y1SKOJHbJ6T/lZ735FzFX52gdQ/7HalJOwQdbha78RPGA7bXxEmyEo+q3w+IMYzrqboX5S9yf0v1DZvja/VEMtUsq79d7NUUEd+smkuqDxDHFIkMeMM8cXy6tc+TPbc28BkQQiKbzOEZDwy4HPd7FCqCwwcZtgxfxFQx5A2DkAXtT53zQD8k1zY4UQWhkKDcgvINzQfYxJmUbXqH27MuJuejhpWLjmwEFCQtMJMrEv44YmlDzmL64iN5HFckO65ikV9fe9g9EcR5acSY2bsO8WyFYzTffVXFpFF011Vi4d/U0h4wSwj5KLMYMHkfAgMBAAGjUzBRMB0GA1UdDgQWBBQxgpSKG7fwIHEopaRA10GB8Z8SOTAfBgNVHSMEGDAWgBQxgpSKG7fwIHEopaRA10GB8Z8SOTAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQAtI5vbHGxVV3qRtd9PEFe9dUb9Yv9YIa5RUd5l795cgr6qyELfg3xTPZbNf1oUHpGXNCfm1uqNTorIKOIEoTpA+STVwST/xcqzB6VjS31I/5IIrdK2NQenM+0DVJa+yGhX+zI3+X3cO2YbyLSKBYqdMsqgnMS/ZC0NnrvigHgq2SC4Vzg8yz5rorjvLJ6ndehtoWOtdCJKUTPihNh4e+GM2A7UNKdt5WKCiS/n/lShvm+8JEG2lXQmmxR6DOjdDyC4/6tf7Ln7YoZZ0q6ICp04oMF6bvgGosdOkQATW4X97EmcfIBfHPX2w/Xn47np2rZrlBMWCjI8gO6W8YQMu7AH",
      "keyId": "64f08449-0cda-4bbc-a263-e81c1d44fe8d", "startDateTime": "2022-04-27T12:41:37Z",
      "type": "AsymmetricX509Cert", "usage": "Verify"}], "web": {"homePageUrl": "https://myapp.com/",
      "redirectUris": ["http://localhost/webtest1", "http://localhost/webtest2"],
      "implicitGrantSettings": {"enableIdTokenIssuance": true, "enableAccessTokenIssuance":
      true}}, "publicClient": {"redirectUris": ["http://localhost/publicclienttest1",
      "http://localhost/publicclienttest2"]}, "appRoles": [{"allowedMemberTypes":
      ["User"], "displayName": "Writer", "id": "d1c2ade8-0000-0000-0000-6d06b947c66f",
      "isEnabled": true, "description": "Writers Have the ability to create tasks.",
      "value": "Writer"}, {"allowedMemberTypes": ["Application"], "displayName": "ConsumerApps",
      "id": "47fbb575-0000-0000-0000-0f7a6c30beac", "isEnabled": true, "description":
      "Consumer apps have access to the consumer data.", "value": "Consumer"}], "optionalClaims":
      {"idToken": [{"name": "auth_time", "essential": false}], "accessToken": [{"name":
      "ipaddr", "essential": false}], "saml2Token": [{"name": "upn", "essential":
      false}, {"name": "extension_ab603c56068041afb2f6832e2a17e237_skypeId", "source":
      "user", "essential": false}]}, "requiredResourceAccess": [{"resourceAccess":
      [{"id": "41094075-9dad-400e-a0bd-54e686782033", "type": "Scope"}], "resourceAppId":
      "797f4846-ba00-4fd7-ba43-dac1f8f63013"}, {"resourceAccess": [{"id": "c79f8feb-a9db-4090-85f9-90d820caa0eb",
      "type": "Scope"}, {"id": "18a4783c-866b-4cc7-a460-3d5e5662c884", "type": "Role"}],
      "resourceAppId": "00000003-0000-0000-c000-000000000000"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "65b9d3a5-df8b-43fb-bfad-0d3cf9b90018", "deletedDateTime": null, "appId":
        "c2d43ba0-438b-48d1-8e17-74c02f4d729c", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2022-04-27T12:41:38.4299102Z", "displayName": "azure-cli-test000001",
        "description": null, "groupMembershipClaims": null, "identifierUris": ["api://azure-cli-test000001"],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": true, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADMultipleOrgs", "tags": [], "tokenEncryptionKeyId":
        null, "defaultRedirectUri": null, "certification": null, "addIns": [], "api":
        {"acceptMappedClaims": null, "knownClientApplications": [], "requestedAccessTokenVersion":
        null, "oauth2PermissionScopes": [], "preAuthorizedApplications": []}, "appRoles":
        [{"allowedMemberTypes": ["User"], "description": "Writers Have the ability
        to create tasks.", "displayName": "Writer", "id": "d1c2ade8-0000-0000-0000-6d06b947c66f",
        "isEnabled": true, "origin": "Application", "value": "Writer"}, {"allowedMemberTypes":
        ["Application"], "description": "Consumer apps have access to the consumer
        data.", "displayName": "ConsumerApps", "id": "47fbb575-0000-0000-0000-0f7a6c30beac",
        "isEnabled": true, "origin": "Application", "value": "Consumer"}], "info":
        {"logoUrl": null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl":
        null, "termsOfServiceUrl": null}, "keyCredentials": [{"customKeyIdentifier":
        "7AB4DD9219E5E03ECC025136572DFAA262EC85CB", "displayName": "O=Internet Widgits
        Pty Ltd, S=Some-State, C=AU", "endDateTime": "2023-04-26T12:41:37Z", "key":
        null, "keyId": "64f08449-0cda-4bbc-a263-e81c1d44fe8d", "startDateTime": "2022-04-27T12:41:37Z",
        "type": "AsymmetricX509Cert", "usage": "Verify"}], "optionalClaims": {"accessToken":
        [{"additionalProperties": [], "essential": false, "name": "ipaddr", "source":
        null}], "idToken": [{"additionalProperties": [], "essential": false, "name":
        "auth_time", "source": null}], "saml2Token": [{"additionalProperties": [],
        "essential": false, "name": "upn", "source": null}, {"additionalProperties":
        [], "essential": false, "name": "extension_ab603c56068041afb2f6832e2a17e237_skypeId",
        "source": "user"}]}, "parentalControlSettings": {"countriesBlockedForMinors":
        [], "legalAgeGroupRule": "Allow"}, "passwordCredentials": [], "publicClient":
        {"redirectUris": ["http://localhost/publicclienttest1", "http://localhost/publicclienttest2"]},
        "requiredResourceAccess": [{"resourceAppId": "797f4846-ba00-4fd7-ba43-dac1f8f63013",
        "resourceAccess": [{"id": "41094075-9dad-400e-a0bd-54e686782033", "type":
        "Scope"}]}, {"resourceAppId": "00000003-0000-0000-c000-000000000000", "resourceAccess":
        [{"id": "c79f8feb-a9db-4090-85f9-90d820caa0eb", "type": "Scope"}, {"id": "18a4783c-866b-4cc7-a460-3d5e5662c884",
        "type": "Role"}]}], "verifiedPublisher": {"displayName": null, "verifiedPublisherId":
        null, "addedDateTime": null}, "web": {"homePageUrl": "https://myapp.com/",
        "logoutUrl": null, "redirectUris": ["http://localhost/webtest1", "http://localhost/webtest2"],
        "implicitGrantSettings": {"enableAccessTokenIssuance": true, "enableIdTokenIssuance":
        true}}, "spa": {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/65b9d3a5-df8b-43fb-bfad-0d3cf9b90018/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF0000252C"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'c2d43ba0-438b-48d1-8e17-74c02f4d729c'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"65b9d3a5-df8b-43fb-bfad-0d3cf9b90018","deletedDateTime":null,"appId":"c2d43ba0-438b-48d1-8e17-74c02f4d729c","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2022-04-27T1[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/65b9d3a5-df8b-43fb-bfad-0d3cf9b90018
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF00002EB9"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/c2d43ba0-438b-48d1-8e17-74c02f4d729c
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''c2d43ba0-438b-48d1-8e17-74c02f4d729c''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-04-27T12:41:41","request-id":"bbbb1c0a-eb76-47fa-bc53-04940811a1de","client-request-id":"bbbb1c0a-eb76-47fa-bc53-04940811a1de"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF000028EC"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"displayName": "azure-cli-test000002", "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "4c3d71ff-2404-4693-b6da-b994ef419a17", "deletedDateTime": null, "appId":
        "20fe56e8-e6cc-4c84-8cd6-d5c474c7ddf8", "applicationTemplateId": n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/20fe56e8-e6cc-4c84-8cd6-d5c474c7ddf8
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''20fe56e8-e6cc-4c84-8cd6-d5c474c7ddf8''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-04-27T12:42:15","request-id":"0441aebb-d1a6-4781-82b2-8ed2e2a5190f","client-request-id":"0441aebb-d1a6-4781-82b2-8ed2e2a5190f"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCE"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
version: 1
