interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=displayName%20eq%20'testgroup000001'%20and%20mailNickname%20eq%20'deleteme11'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000022D4"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "testgroup000001", "mailNickname": "deleteme11", "description":
      "testgroup000001", "mailEnabled": false, "securityEnabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/groups
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups/$entity","id":"927cd2ba-c742-49cb-8682-1c225ba397bf","deletedDateTime":null,"classification":null,"createdDateTime":"2022-04-26T13:33:40Z","creationOptions":[],"description":"testgroup000001","displayName":"testgroup000001","expirationDateTime":null,"groupTypes":[],"isAssignableToRole":null,"mail":null,"mailEnabled":false,"mailNickname":"deleteme11","membershipRule":null,"membershipRuleProcessingState":null,"onPremisesDomainName":null,"onPremisesLastSyncDateTime":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"onPremisesSyncEnabled":null,"preferredDataLocation":null,"preferredLanguage":null,"proxyAddresses":[],"renewedDateTime":"2022-04-26T13:33:40Z","resourceBehaviorOptions":[],"resourceProvisioningOptions":[],"securityEnabled":true,"securityIdentifier":"S-1-12-1-2457653946-1238091586-572293766-3214386011","theme":null,"visibility":null,"onPremisesProvisioningErrors":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/927cd2ba-c742-49cb-8682-1c225ba397bf/Microsoft.DirectoryServices.Group
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCF"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=startswith(displayName,'testgroup000001')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[{"id":"927cd2ba-c742-49cb-8682-1c225ba397bf","deletedDateTime":null,"classification":null,"createdDateTime":"2022-04-26T13:33:40Z","creationOptions":[],"description":"testgroup000001","displayName":"testgroup000001","expirationDat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=displayName%20eq%20'testgroup000001'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[{"id":"927cd2ba-c742-49cb-8682-1c225ba397bf","deletedDateTime":null,"classification":null,"createdDateTime":"2022-04-26T13:33:40Z","creationOptions":[],"description":"testgroup000001","displayName":"testgroup000001","expirationDateTime[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups/927cd2ba-c742-49cb-8682-1c225ba397bf
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups/$entity","id":"927cd2ba-c742-49cb-8682-1c225ba397bf","deletedDateTime":null,"classification":null,"createdDateTime":"2022-04-26T13:33:40Z","creationOptions":[],"description":"testgroup000001","displayName":"testgroup000001","expirationDateTime":null,"gr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=displayName%20eq%20'testchildgroup000002'%20and%20mailNickname%20eq%20'deleteme11'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BC8"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=displayName%20eq%20'testleafgroup000003'%20and%20mailNickname%20eq%20'deleteme11'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001E1F"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/fdbae059-c3af-4020-a0df-fcd3840902f9"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/groups/927cd2ba-c742-49cb-8682-1c225ba397bf/members/$ref
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001E1D"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"groupIds": ["927cd2ba-c742-49cb-8682-1c225ba397bf"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/fdbae059-c3af-4020-a0df-fcd3840902f9/checkMemberGroups
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(Edm.String)","value":["927cd2ba-c742-49cb-8682-1c225ba397bf"]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCE"}}'
      x-ms-resource-unit:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups/927cd2ba-c742-49cb-8682-1c225ba397bf/members
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.group","id":"fdbae059-c3af-4020-a0df-fcd3840902f9","deletedDateTime":null,"classification":null,"createdDateTime":"2022-04-26T13:33:43Z","creationOptions":[],"description":null,"displayName":"[...]
[...]
- request:
    body: '{"securityEnabledOnly": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/groups/927cd2ba-c742-49cb-8682-1c225ba397bf/getMemberGroups
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(Edm.String)","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000022D3"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/groups/fdbae059-c3af-4020-a0df-fcd3840902f9/members/008d6f23-80f1-424c-8ef0-3a0ae317550a/$ref
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCE"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"userPrincipalName": "testgroupuser1000004@example.com", "displayName":
      "testgroupuser1000004", "passwordProfile": {"password": "Test1234!!", "forceChangePasswordNextSignIn":
      false}, "mailNickname": "testgroupuser1000004", "accountEnabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/users
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","id":"71c16594-1a01-4dfd-a94c-12bcee8023c1","businessPhones":[],"displayName":"testgroupuser1000004","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"testgroupuser1000004@example.com"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/71c16594-1a01-4dfd-a94c-12bcee8023c1/Microsoft.DirectoryServices.User
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000022D5"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=displayName%20eq%20'testgroupapp000006'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BC8"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,'testgroupapp000006')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000022D9"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "testgroupapp000006", "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "5eb1dc22-18a1-403f-8ff7-7a8f0700d148", "deletedDateTime": null, "appId":
        "aae838ca-3395-423d-baea-19a09e36db51", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2022-04-26T13:33:57.1920759Z", "displayName": "testgroupapp000006",
        "description": null, "groupMembershipClaims": null, "identifierUris": [],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADandPersonalMicrosoftAccount", "tags": [],
        "tokenEncryptionKeyId": null, "defaultRedirectUri": null, "certification":
        null, "optionalClaims": null, "addIns": [], "api": {"acceptMappedClaims":
        null, "knownClientApplications": [], "requestedAccessTokenVersion": 2, "oauth2PermissionScopes":
        [], "preAuthorizedApplications": []}, "appRoles": [], "info": {"logoUrl":
        null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl": null,
        "termsOfServiceUrl": null}, "keyCredentials": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": {"redirectUris": []}, "requiredResourceAccess": [], "verifiedPublisher":
        {"displayName": null, "verifiedPublisherId": null, "addedDateTime": null},
        "web": {"homePageUrl": null, "logoutUrl": null, "redirectUris": [], "implicitGrantSettings":
        {"enableAccessTokenIssuance": false, "enableIdTokenIssuance": false}}, "spa":
        {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/5eb1dc22-18a1-403f-8ff7-7a8f0700d148/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001E1D"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"passwordCredential": {"startDateTime": "2022-04-26T13:33:56Z", "endDateTime":
      "2023-04-26T13:33:56Z", "displayName": "rbac"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications/5eb1dc22-18a1-403f-8ff7-7a8f0700d148/addPassword
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.passwordCredential",
        "customKeyIdentifier": null, "displayName": "rbac", "endDateTime": "2023-04-26T13:33:56Z",
        "hint": "SBG", "keyId": "aa4480d0-3e50-4562-accc-9cc295c71ef2", "secretText":
        "replaced-microsoft-graph-password", "startDateTime": "2022-04-26T13:33:56Z"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCE"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "aae838ca-3395-423d-baea-19a09e36db51", "accountEnabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/servicePrincipals
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"70227ea0-1abd-44a0-b2ad-1b76ca2131c3","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"testgroupapp000006","appDescription":null,"appId":"aae838ca-3395-423d-baea-19a09e36db51","applicationTemplateId":null,"appOwnerOrganizationId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"createdDateTime":"2022-04-26T13:33:59Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"testgroupapp000006","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["aae838ca-3395-423d-baea-19a09e36db51"],"servicePrincipalType":"Application","signInAudience":"AzureADandPersonalMicrosoftAccount","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null},"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/70227ea0-1abd-44a0-b2ad-1b76ca2131c3/Microsoft.DirectoryServices.ServicePrincipal
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001E1F"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'aae838ca-3395-423d-baea-19a09e36db51')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"70227ea0-1abd-44a0-b2ad-1b76ca2131c3","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"testgroupapp000006","appDescription":null,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/70227ea0-1abd-44a0-b2ad-1b76ca2131c3
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"70227ea0-1abd-44a0-b2ad-1b76ca2131c3","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"testgroupapp000006","appDescription":null,"appId":"aae838ca-3395-423d-baea-19a09e36db51","app[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups/927cd2ba-c742-49cb-8682-1c225ba397bf/owners
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000018C7"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"@odata.id": "https://graph.microsoft.com/v1.0/users/71c16594-1a01-4dfd-a94c-12bcee8023c1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/groups/927cd2ba-c742-49cb-8682-1c225ba397bf/owners/$ref
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000022D4"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/groups/927cd2ba-c742-49cb-8682-1c225ba397bf/owners/71c16594-1a01-4dfd-a94c-12bcee8023c1/$ref
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00001642"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups/927cd2ba-c742-49cb-8682-1c225ba397bf
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''927cd2ba-c742-49cb-8682-1c225ba397bf''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-04-26T13:34:12","request-id":"008d841a-6f94-4dbb-b1e1-d88ae11398be","client-request-id":"008d841a-6f94-4dbb-b1e1-d88ae11398be"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000022D9"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=displayName%20eq%20'testchildgroup000002'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[{"id":"fdbae059-c3af-4020-a0df-fcd3840902f9","deletedDateTime":null,"classification":null,"createdDateTime":"2022-04-26T13:33:43Z","creationOptions":[],"description":null,"displayName":"testchildgroup000002","expirationDateTime":n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=displayName%20eq%20'testleafgroup000003'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[{"id":"008d6f23-80f1-424c-8ef0-3a0ae317550a","deletedDateTime":null,"classification":null,"createdDateTime":"2022-04-26T13:33:44Z","creationOptions":[],"description":null,"displayName":"testleafgroup000003","expirationDateTime":nul[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/users/testgroupuser1000004@AzureSDKTeam.onmicrosoft.com
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCF"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'aae838ca-3395-423d-baea-19a09e36db51'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"5eb1dc22-18a1-403f-8ff7-7a8f0700d148","deletedDateTime":null,"appId":"aae838ca-3395-423d-baea-19a09e36db51","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2022-04-26T1[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/5eb1dc22-18a1-403f-8ff7-7a8f0700d148
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCE"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
