interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,'azure-cli-test000001')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00001F03"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "azure-cli-test000001", "identifierUris": ["api://azure-cli-test000001"],
      "isFallbackPublicClient": true, "signInAudience": "AzureADMultipleOrgs", "keyCredentials":
      [], "web": {"homePageUrl": "https://myapp.com/", "redirectUris": ["http://localhost/webtest1",
      "http://localhost/webtest2"], "implicitGrantSettings": {"enableIdTokenIssuance":
      true, "enableAccessTokenIssuance": true}}, "publicClient": {"redirectUris":
      ["http://localhost/publicclienttest1", "http://localhost/publicclienttest2"]},
      "appRoles": [{"allowedMemberTypes": ["User"], "displayName": "Writer", "id":
      "d1c2ade8-0000-0000-0000-6d06b947c66f", "isEnabled": true, "description": "Writers
      Have the ability to create tasks.", "value": "Writer"}, {"allowedMemberTypes":
      ["Application"], "displayName": "ConsumerApps", "id": "47fbb575-0000-0000-0000-0f7a6c30beac",
      "isEnabled": true, "description": "Consumer apps have access to the consumer
      data.", "value": "Consumer"}], "optionalClaims": {"idToken": [{"name": "auth_time",
      "essential": false}], "accessToken": [{"name": "ipaddr", "essential": false}],
      "saml2Token": [{"name": "upn", "essential": false}, {"name": "extension_ab603c56068041afb2f6832e2a17e237_skypeId",
      "source": "user", "essential": false}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "1cefcf7b-0a7d-4dc7-ba7b-60ea4d157a0e", "deletedDateTime": null, "appId":
        "60c080fa-daaa-4d05-a562-a749ea30e589", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2022-02-25T09:30:18.1595576Z", "displayName": "azure-cli-test000001",
        "description": null, "groupMembershipClaims": null, "identifierUris": ["api://azure-cli-test000001"],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": true, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADMultipleOrgs", "tags": [], "tokenEncryptionKeyId":
        null, "defaultRedirectUri": null, "certification": null, "addIns": [], "api":
        {"acceptMappedClaims": null, "knownClientApplications": [], "requestedAccessTokenVersion":
        null, "oauth2PermissionScopes": [], "preAuthorizedApplications": []}, "appRoles":
        [{"allowedMemberTypes": ["User"], "description": "Writers Have the ability
        to create tasks.", "displayName": "Writer", "id": "d1c2ade8-0000-0000-0000-6d06b947c66f",
        "isEnabled": true, "origin": "Application", "value": "Writer"}, {"allowedMemberTypes":
        ["Application"], "description": "Consumer apps have access to the consumer
        data.", "displayName": "ConsumerApps", "id": "47fbb575-0000-0000-0000-0f7a6c30beac",
        "isEnabled": true, "origin": "Application", "value": "Consumer"}], "info":
        {"logoUrl": null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl":
        null, "termsOfServiceUrl": null}, "keyCredentials": [], "optionalClaims":
        {"accessToken": [{"additionalProperties": [], "essential": false, "name":
        "ipaddr", "source": null}], "idToken": [{"additionalProperties": [], "essential":
        false, "name": "auth_time", "source": null}], "saml2Token": [{"additionalProperties":
        [], "essential": false, "name": "upn", "source": null}, {"additionalProperties":
        [], "essential": false, "name": "extension_ab603c56068041afb2f6832e2a17e237_skypeId",
        "source": "user"}]}, "parentalControlSettings": {"countriesBlockedForMinors":
        [], "legalAgeGroupRule": "Allow"}, "passwordCredentials": [], "publicClient":
        {"redirectUris": ["http://localhost/publicclienttest1", "http://localhost/publicclienttest2"]},
        "requiredResourceAccess": [], "verifiedPublisher": {"displayName": null, "verifiedPublisherId":
        null, "addedDateTime": null}, "web": {"homePageUrl": "https://myapp.com/",
        "logoutUrl": null, "redirectUris": ["http://localhost/webtest1", "http://localhost/webtest2"],
        "implicitGrantSettings": {"enableAccessTokenIssuance": true, "enableIdTokenIssuance":
        true}}, "spa": {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/1cefcf7b-0a7d-4dc7-ba7b-60ea4d157a0e/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF000073A3"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'60c080fa-daaa-4d05-a562-a749ea30e589'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"1cefcf7b-0a7d-4dc7-ba7b-60ea4d157a0e","deletedDateTime":null,"appId":"60c080fa-daaa-4d05-a562-a749ea30e589","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2022-02-25T0[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/1cefcf7b-0a7d-4dc7-ba7b-60ea4d157a0e
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF0000211D"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/60c080fa-daaa-4d05-a562-a749ea30e589
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''60c080fa-daaa-4d05-a562-a749ea30e589''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-02-25T09:30:22","request-id":"03e6484e-152a-47b7-9ade-460b77463314","client-request-id":"03e6484e-152a-47b7-9ade-460b77463314"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005EEA"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"displayName": "azure-cli-test000002", "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "3da12020-593d-4868-a54b-0b29f43e5490", "deletedDateTime": null, "appId":
        "ab107363-cfc7-42a6-a659-7c02c29a59f9", "applicationTemplateId": n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/ab107363-cfc7-42a6-a659-7c02c29a59f9
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''ab107363-cfc7-42a6-a659-7c02c29a59f9''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-02-25T09:30:31","request-id":"02ea1f80-b23b-4660-a4ee-5edc216bcae1","client-request-id":"02ea1f80-b23b-4660-a4ee-5edc216bcae1"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF000073A3"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
version: 1
